  .card-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    align-items: stretch; 
  }

  .project-card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    height: 100%;
    flex-grow: 1;
  }