/* You can add global styles to this file, and also import other style files */
.container {
    max-width: 1140px;
}

.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}
  /* Pour changer la couleur des flèches du carrousel */
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: gray;
  }
  
  /* Pour changer la couleur au survol des flèches */
  .carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: transparent;
  }